@font-face {
    font-family: "HelveticaNeueThin";
    font-display: swap;
    src: url(/fonts/HelveticaNeueThin/HelveticaNeueThin.ttf);
}


:root {
    /* fonts */
    --font-3: "HelveticaNeueThin";
}

/* Sidebar */
#rightSidebar {
    /* grid-column: var(--grid-rightSidebar); */
    
    display: flex;
    flex-direction: column;
}

contact-card {
    position: sticky;
    top: 20vh;

    display: none;

    /* margin: 1vh 1vw; */
    /* width: 12em; */
    /* margin: 10vh 6vw; */
    margin-left: 3vw;
    margin-right: 3vw;

    margin-top: 15vh;

    font-size: 1.15rem;
}

#contactCardHeader {
    /* padding: 0 0.5em; */
}

#contactCardHeader h2 {
    white-space: nowrap;
    /* 
    text-align: center;
     */
    font-family: var(--font-3);
    font-size: 1.5em;
    font-weight: 100;
}

#contactBox {
    /* As a flex container */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 1em;

    white-space: nowrap;
    font-size: 1.3em;
}
