* {
    /* border: var(--test-border) !important; */
}

@font-face {
    font-family: "Montserrat";
    /* font-style: normal; */
    font-display: auto;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Nanum";
    font-display: auto;
    src: url(/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}
@font-face {
    font-family: "NanumBold";
    font-display: auto;
    src: url(/fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf);
}
@font-face {
    font-family: "HelveticaNeueThin";
    font-display: auto;
    src: url(/fonts/HelveticaNeueThin/HelveticaNeueThin.ttf);
}

:root {
    /* color */
    --background-color: #FAF9F6;
    --background-color-darker: rgba(0,0,0,.1);
    --border-color: rgba(0,0,0,.15);
    --border-color-lv2: rgba(0,0,0,.4);
    --border-color-lv3: rgba(0,0,0,.5);

    --gray-lv1: rgba(218,218,218,1);
    --gray-lv2: rgba(185,185,185,1);
    --gray-lv3: rgba(128,132,135,1);
    --gray-lv4: rgba(100,100,100,1);

    /* borders */
    --box-border: 1px solid var(--border-color);
    --box-border-lv2: 1px solid var(--border-color-lv2);
    --box-border-lv3: 1px solid var(--border-color-lv3);
    --test-border: 1px solid red;

    /* fonts */
    --ff-gen: "Montserrat", cursive;
    --ff-formal: "Nanum", cursive;
    --ff-formal-bold: "NanumBold", cursive;
    --ff-3: "HelveticaNeueThin", cursive;

    /* font sizing */
    --fs-xl: 3.5rem; /* h1 */
    --fs-800: 2rem; /* h2 */
    --fs-700: 1.75rem; 
    --fs-600: 1.5rem;  
    --fs-500: 1.25rem; /* Nav */
    --fs-400: 1rem; /* profile subheading, About Me, Education */
    --fs-300: 0.85rem;
    --fs-200: 0.75rem;


    /* Other */
    --scroll-margin: 3rem;
}

/*****************
--Media Queries-- 
*****************/
/* Desktop */
@media (min-width: 993px) {
    :root {
        --view-mode: desktop;

        /* Grid Layout */
        --grid-columns: 1fr min(60ch, 80%) 1fr;
        --grid-full-span: 1 / 4;
        --grid-center: 2 / 3;
        --grid-rightSidebar: 3 / 4;

        /* Nav Bar */
        --nm-flex-dir: row;
        --nav-branding-and-icon-width: auto;
        --nav-menu-display: flex;
        --nav-menu-padding: 0;
        --nav-item-margin: 0 1.25vw;
        --menu-icon-display: none;
        --nav-menu-fs: var(--fs-500);

        /* Main */
        --main-section-margins: 0.75em 0.75em;

        /* Side bar */
        --sb-align: end;
        --sb-display: flex;
    }
}
/* Tablet */
@media (min-width: 0) and (max-width: 0) {
    :root {
        --view-mode: tablet;

        /* Grid Layout */
        --grid-columns: auto 1fr;
        --grid-full-span: 1 / 3;
        --grid-center: 1 / 2;
        --grid-rightSidebar: 2 / 3;

        /* Side bar */
        --sb-align: center;
    }
}
/* Phone & Tablet */
@media (max-width: 992px) {
    :root {
        --view-mode: mobile;

        /* Grid Layout (Single Column) */
        --grid-columns: 1;
        --grid-full-span: 1 / 2;
        --grid-center: 1 / 2;
        --grid-rightSidebar: 1 / 2;

        /* Nav Bar */
        --navbar-flex-dir: column;
        --nav-branding-and-icon-width: 100%;
        --nav-menu-display: none;
        --nav-menu-padding: 0.25em;
        --nav-item-margin: 0.75em;
        --menu-icon-display: block;
        --nav-menu-fs: var(--fs-600);

        /* Main */
        --main-section-margins: 0.75em 0;

        /* Side bar */
        --sb-align: end;
        --sb-display: none;
    }
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    /* margin: 0; */
    /* border: var(--test-border) !important; */
}

/**************
 --TOP LEVEL --
 **************/
body {
    background-color: var(--background-color);

    /* Layout */
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: var(--grid-rows);

    /* font */
    font-family: var(--ff-gen);
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
picture,
video {
  max-width: 100%;
}


/***********
 --NAVBAR-- 
 ************/
.navbar {
    /* As a grid item (child) */
    grid-column: var(--grid-full-span);
    border-bottom: var(--box-border);
    background-color: var(--background-color);

    /* Position */
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* As a flexbox container */
    display: flex;
    flex-direction: var(--navbar-flex-dir);
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    /* padding */
    padding: 0.5em;

    /* font */
    font-family: var(--ff-formal);
    font-size: var(--fs-500);
    font-weight: 300;
}

.navbar a {
    transition: all 0.1s;
}

.navbar a:hover {
    /* transform: scale(1.01); */
    text-decoration: underline;
}

.nav-branding-and-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    width: var(--nav-branding-and-icon-width);
}

.nav-menu {
    /* As a flexbox container */
    display: var(--nav-menu-display);
    flex-direction: var(--navbar-flex-dir);
    flex-wrap: nowrap;
    align-items: center;

    list-style: none;
    padding-left: 0;
    padding: var(--nav-menu-padding);
    margin: 0.25em;

    font-size: var(--nav-menu-fs);
}

.nav-menu li {
    margin: var(--nav-item-margin);
}

/* Mobile Menu */
.menu-icon {
    display: var(--menu-icon-display);
    height: fit-content;
}
.menu-icon .menu-open {
    display: var(--menu-icon-display);
    font-size: 2rem;
}
.menu-icon .menu-close {
    font-size: 2rem;
    display: none;
}
/* Contact Card */
.contact-card {
    font-size: var(--fs-300);
    padding: 0.5em;
    width: 80%;

    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.contact-card a {
    transition: all 0.05s;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; 
    
}
.contact-card img {
    object-fit: scale-down;
    height: 2rem;
    margin: .5em;
}
.contact-card .mail-icon {
    height: 1.65rem;
}
.contact-card a:hover img {
    transform: scale(1.02);
    /* text-decoration: underline; */
    /* background-color: var(--background-color-darker); */
}
/* Nav menu open & close */
.navbar.open .menu-open {
    display: none;
}
.navbar.open .menu-close {
    display: block;
}
.navbar.open .nav-menu, .navbar.open .contact-card {
    display: flex;
}

.navbar.close .menu-open {
    display: var(--menu-icon-display);
}
.navbar.close .menu-close {
    display: none;
}
.navbar.close .nav-menu {
    display: var(--nav-menu-display);
}
.navbar.close .contact-card {
    display: none;
}


/***********
 --HEADER-- 
 ************/
 #mainHeader {
    /* As a grid item (child) */
    grid-column: var(--grid-full-span);

    border-bottom: var(--box-border);

    /* As a grid container (parent) */
    display: grid;
}

#profileHeading {
    justify-self: center;
    align-self: center;

    margin-top: 5rem;
    text-align: center;
}

#profilePic > * {
    width: 16rem;
    border-radius: 8px;
}

h1 {
    font-family: var(--ff-formal);
    font-size: var(--fs-xl);
    font-weight: 400;
    margin: 0;
}  

#profileHeading p {
    font-size: var(--fs-400);
    /* font-weight: lighter; */
}


/***********
 --MAIN-- 
************/
main {
    grid-column: var(--grid-center);
    font-size: var(--fs-400);

    /* As a flexbox container */
    display: flex;
    flex-direction: column;
}

main > section:first-child {
    margin-top: 1em;
}

main > section {
    margin: var(--main-section-margins);
}

.contentBorder {
    border: var(--box-border);
    /* padding: .75em; */
}

h2 {
    font-family: var(--ff-formal);
    font-size: var(--fs-800);
    margin: 0.25em 0;
    font-weight: 400;
}

main p {
    margin: 0;
}


/***********
 --ABOUT ME-- 
 ************/
#aboutMe .contentBorder {
    padding: .75em;
}

/***********
 --EDUCATION-- 
 ************/
#education {
    scroll-margin-top: var(--scroll-margin);
}

.edCard {
    padding: 0;
    margin-bottom: 0.75em;
}

.edCard:last-child {
    margin-bottom: 0;
}

.edCard img {
    width: 5em;
}

.edDate {
    border-bottom: var(--box-border);
    padding: 0.25em;
}

.edDetails {
    /* flex */
    display: flex;
    flex-direction: row;
    align-items: center;

    /* other */
    padding: 0.5em;
}

#yonseiLogo {
    padding: 0.2rem;
}

.edDescription {
    margin-left: 1.5rem;
}

.edDescription > p:first-child {
    font-weight: 500;
}

/************
 --REL. SKILLS-- 
************/
.skillSection {
    margin: 0.5em 0.25em;
    margin-top: 0.75em;
}

.skillSection:first-child {
    margin-top: 0.25em;
}

#relevantSkills h3 {
    border-bottom: var(--box-border-lv3);
    font-size: var(--fs-400);
    font-weight: 400;
    margin: 0.25em 0;
}

/* Skill Table */
.skillTable {
    border-collapse: collapse;
    margin-top: 0.5em;
}
.skillTable th, .skillTable td {
    border: var(--box-border-lv2);
    padding: 0.5em;
}
.skillTable strong {
    font-family: var(--ff-formal-bold);
    font-weight: 900;
}
.skillTable tr:first-child {
    background-color: var(--gray-lv1);
}
.skillTable th {
    font-family: var(--ff-formal-bold);
    font-weight: 500;
}

/* Other & Excellencies Skills Section */
#otherSkills td {
    display: flex;
    align-items: center;
    padding: 0.25em;
}
#otherSkills img {
    width: 1.5em;
}
#otherSkills p {
    margin: 0 0.5em;
}
#otherSkills tr {
    background-color: var(--gray-lv1);
}

#excellencySkills th {
    background-color: var(--gray-lv1);
}
#excellencySkills td {
    font-style: italic;
}
#excellencySkills tr  {
    background-color: var(--background-color);
}


/************
 --PROJECTS-- 
************/
#projects {
    scroll-margin-top: var(--scroll-margin);
}
#projects > section {
    margin: 1rem 0;
}

.projectHeader {
    border-bottom: var(--box-border-lv3);
    font-family: var(--ff-formal);
    margin-bottom: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.projectHeader h3 {
    margin: 0;
    font-weight: 400;
    font-size: var(--fs-600);
}

.projectBody {
    padding: 0.25em;
}
.projectBody > * {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
.projectBody > .projectFooter {
    margin-top: 1em;
    margin-bottom: 1em;
}
.projectBody h4 {
    font-weight: 400;
    border-bottom: var(--box-border-lv2);
    width: max-content;
    margin: 0;
}
.projectBody h5 {
    font-family: var(--ff-gen);
    font-size: var(--fs-400);
    font-weight: 400;
    /* border-bottom: var(--box-border); */
    text-decoration: var(--border-color-lv2) wavy underline;
    width: max-content;
    margin: 0;
}
.projectBody strong {
    font-weight: 600;
}
.projectBody strong.weak {
    font-weight: 550;
}

.textBox {
    margin: 0.25em 0.5em;
}
.textBox ul {
    margin: 0;
}
.textBox > section, .textBox div {
    margin-bottom: 0.5em;
}

.boxedNote {
    display: flex;
    justify-content: center;
}
.boxedNote > div {
    margin: 0;
    border: var(--box-border-lv2);
    padding: 0.25em;
    width: max-content;
    text-align: center;
}

.projectBody .figure1 {
    margin: 0.25em;
    display: flex;
    justify-content: center;
}
.overviewTable {
    border-collapse: collapse;
    font-family: var(--ff-formal);
    text-align: center;
}
.overviewTable th, .overviewTable td {
    border: var(--box-border-lv2);
    padding: 0.25em;
}
.overviewTable strong {
    font-family: var(--ff-formal-bold);
    font-weight: 900;
}
.overviewTable tr {
    background-color: var(--gray-lv1);
}   
.overviewTable tr:nth-child(3) {
    background-color: transparent;
}
.overviewTable th {
    /* font-family: var(--ff-formal-bold); */
    font-weight: 600;
}

.projVisual figure {
    width: fit-content;
    margin: 0.25em 0;
    /* border: var(--box-border); */
}
.projVisual img {
    display: block;
    width: 100%;
    /* border-bottom: var(--box-border); */
}
.projVisual figcaption {
    margin: 0;
    text-align: center;
    font-family: var(--ff-formal);
    /* font-size: var(--fs-300); */
    /* border: var(--box-border); */
}
.projVisual figcaption p {
    margin: 0.25em;
}



.descriptionSection {
    margin: 2vh auto;
}
#chessProjFigures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

#chessProjFigures figure {
    border: 4px solid var(--gray-lv1);
    background-color: var(--gray-lv1);
    /* box-shadow: 2px 2px 1px var(--border-color-lv2); */
    font-family: var(--formal-font);
    font-size: 0.8em;
    margin: 0.5rem;
}

#chessProjFigures img {
    width: 20rem;
    height: min(23rem);
}

.descriptionText {
    margin: 1vh 0.5vw;
    /* border: var(--box-border); */
}

.takeawaysSection {
    margin: 2vh auto;
}

.sourceCodeLinkBox {
    border: var(--box-border-lv2);
    padding: 0.25em;
    width: max-content;

    overflow: hidden;
}
.sourceCodeLinkBox a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sourceCodeLinkBox img {
    width: 1.5rem;
    height: 1.5rem;
}
.sourceCodeLinkBox span {
    padding-left: 0.25em;
}
.sourceCodeLinkBox div {
    margin-left: 0.5em;
}
.sourceCodeLinkBox:hover {
    background-color: var(--background-color-darker);
}
.sourceCodeLinkBox:hover span {
    text-decoration: underline;
}



/************
 --Contact Card-- 
************/

#rightSection {
    grid-column: var(--grid-rightSidebar);

    display: flex;
    flex-direction: column;

    font-size: var(--fs-300);
}

#sideBar {
    align-self: var(--sb-align);
    background-color: var(--sb-color);

    --height: min(25rem);
    height: var(--height);
    position: sticky;
    /* For centering in middle of screen */
    top: calc(50vh - calc(var(--height)/2));

    margin: 0 0rem;
    margin-top: 10vh;

    padding: 0 0.5em;


    display: var(--sb-display);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

#sideBar > a {
    transition: all 0.05s;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;    
}

#sideBar img {
    width: 2.25rem;
    margin: .5em;
}

#sideBar a:hover img {
    transform: scale(1.02);
    /* text-decoration: underline; */
    /* background-color: var(--background-color-darker); */
}


/************
 --FOOTER-- 
************/
footer {
    grid-column: var(--grid-full-span);

    border-top: var(--box-border);
    padding: .5em;
}





/**************
--CONTACT ME-- 
**************/
#contactPageBody {
    height: 100vh;
    width: 100vw;;
    display: grid;
    justify-content: center;
    align-content: center;

    margin: 0;
}

#contactPageBody main {
    display: grid;
    justify-items: center;
}

#contactPageBody p {
    width: fit-content;
    text-align: center;
}
  
@keyframes roundaction {
    0% { left: 0;
         top: 0; 
    }
    
    25% { left: 0;
          top: calc(100% - 130px);
          /* background-color: red; */
    }
    
    50% {
      top: calc(100% - 130px); /* - the height of the box */
      left: calc(100% - 250px); /* - the width of the box */
      /* background-color: blue; */
    }
    
    75% {
      left: calc(100% - 250px);
      top: 0;
      /* background-color: green; */
    }
    
    100% {
      left: 0; 
      top: 0;
      /* background-color: purple; */
    }
}
  
#contactPageBody .small {
    font-size: var(--fs-800);
    font-family: var(--ff-gen);
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 130px;
    /* background-color:purple;  */
    animation-name: roundaction;
    animation-duration: 11s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-iteration-count: infinite;
    /*animation-timing-function: linear; */
}

#contactPageBody .small span {
    color: red;
}
