* {
    /* border: 1px solid red; */
}

:root {
    font-size: 0.8em;
}

body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;

}

body > header {
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin: 0;
}

h1 {
    font-size: 2.3em;
    border-bottom: 1px solid black;
}

main {
}

#add {
    margin: 1em;
    margin-bottom: 0;
}

.blogPostsContainer {
    padding: 0;
}

.entryContainer {
    display: flex;
    flex-direction: row;

    margin: 1em 0.5em;
    
    background-color:rgb(249, 243, 236);
}

.changeMenu {
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changeMenu button {
    margin: 0.5em;
}

.blogPostContainer {
    border: 1px solid black;
    width: 100%;
}

.blogPostContainer h2, .blogPostContainer span, .blogPostContainer p {
    margin: 0.25em;
} 

.blogPostContainer header {
    border-bottom: 1px solid black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* height: 30%; */
    padding: 0.25em;
}

.blogPostContainer span {
    margin-right: 0.5em;
    font-size: 1.1em;
}

.blogSummaryContainer {
    /* height: 70%; */
    padding: 0.25em;
}

.blogSummaryContainer p {
    font-size: 1.1em;
}

/* ------------------
* 
* Dialog Box
* 
* -------------------*/

dialog {
    padding: 0.5em;
}

dialog form {
    margin: 0
}

dialog header {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;
}

dialog h3 {
    margin: 0.25em;
}

.input {
    display: flex;
    flex-direction: row;

    margin: 0.25em;
}

.input .label {
    height: 1em;
}

.label {
    width: 4em;
    padding: 0.3em;

    text-align: end; 
    background-color: rgba(128, 128, 128, 0.923);
    border-radius: 2px;
}


.input input, .input textarea {
    width: 15em;
}

#dialogFooter {
    display: flex;
    justify-content: center;
}

#buttonArea {
    margin: 0em;
}

#buttonArea button {
    margin: 0.25em;
}



