@font-face {
    font-family: "Montserrat";
    /* font-style: normal; */
    font-display: auto;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Nanum";
    font-display: auto;
    src: url(/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf);
}

@font-face {
    font-family: "NanumBold";
    font-display: auto;
    src: url(/fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf);
}

/* @font-face {
    font-family: "NanumExtraBold";
    font-display: auto;
    src: url(/fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf);
}

@font-face {
    font-family: "HelveticaNeue";
    font-display: auto;
    src: url(/fonts/HelveticaNeue.ttc);
} */

@font-face {
    font-family: "HelveticaNeueThin";
    font-display: auto;
    src: url(/fonts/HelveticaNeueThin/HelveticaNeueThin.ttf);
}

/* Variables */
:root {
    /* fonts */
    /* --font: helveticaNeue, "Times New Roman"; */
    --gen-font: "Montserrat", cursive;
    --formal-font: "Nanum", cursive;
    --formal-bold-font: "NanumBold", cursive;
    /* --formal-extra-bold-font: "NanumExtraBold", sans-serif; */
    /* --font-2: "HelveticaNeue"; */
    --font-3: "HelveticaNeueThin", cursive;

    /* color */
    --background-color: #FAF9F6;
    --background-color-darker: rgba(0,0,0,.1);
    --background-color-darker-2: rgba(0,0,0,.1);
    --border-color: rgba(0,0,0,.15);
    --border-color-lv2: rgba(0,0,0,.4);
    --border-color-lv3: rgba(0,0,0,.5);

    --gray-lv1: rgba(218,218,218,1);
    --gray-lv2: rgba(185,185,185,1);
    --gray-lv3: rgba(128,132,135,1);
    --gray-lv4: rgba(100,100,100,1);



    /* borders */
    --box-border: 1px solid var(--border-color);
    --box-border-lv2: 1px solid var(--border-color-lv2);
    --box-border-lv3: 1px solid var(--border-color-lv3);
    --bottom-border: 1px solid var(--border-color);
    --test-border: 1px solid red;

    /* Grid Layout */
    /* --grid-columns: 1.25fr 1fr auto 1fr 1.25fr;
    --grid-rows: auto auto 1fr auto;
    --grid-full-span: 1 / 6;
    --grid-center: 3 / 4;
    --grid-rightSidebar: 4 / 5; */
    --grid-columns: 1;
    --grid-rows: auto auto auto auto;
    --grid-full-span: 1;

    /* Responsive font size */
    /* font-size: calc(.3rem + 0.6vw); */
    /* font-size: 2rem; */
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    /* border: var(--test-border) !important; */
}

/* Code */
body {
    background-color: var(--background-color);

    /* Layout */
    display: grid;
    grid-template-columns: var(--grid-columns);
    grid-template-rows: var(--grid-rows);

    /* font */
    /* font-family: var(--gen-font); */
    font-family: var(--gen-font);
    font-weight: normal;
    font-size: 0.7em;
}

a {
    color: inherit;
    text-decoration: none;
}

img,
picture,
video {
  max-width: 100%;
}

/* Navbar */
#navbarSection {
    /* As a grid item (child) */
    grid-column: var(--grid-full-span);
    border-bottom: var(--bottom-border);
    background-color: var(--background-color);

    /* Position */
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 0;

    /* font */
    font-family: var(--font-3);
    font-size: 1.5em;
    font-weight: 100;
}


#navbar {
    /* As a flexbox container */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    padding: 0;
}

#leftNav {
    font-size: 1.20em;
    margin: 0.2em 0;
    padding: 0.2em 0.6em;
    width: max-content;
}

#rightNav {
    display: none;
}

.menuButton {
    padding: 0.5em 1em;
    display: grid;
    justify-content: center;
    align-content: center;
}

.menuButton > svg {
    width: 1.4em;
    height: 1.4em;
}

/* Menu Bar */
#menuBar {
    display: none;
}


#menuBar:target {
    grid-column: var(--grid-full-span);
    background-color: var(--gray-lv2);

    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 70%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#menuCloseContainer {    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} 


* {
    /* border: var(--test-border) !important; */
}


/* Header */

#mainHeader {
    /* As a grid item (child) */
    grid-column: var(--grid-full-span);

    border: var(--bottom-border);

    /* As a grid container (parent) */
    display: grid;
}

#profileHeading {
    /* border: 1px solid red; */

    justify-self: center;
    align-self: center;

    margin: 3vh 2vh;
    margin-top: 5em;
    text-align: center;
}

#profilePic > * {
    /* height = width*1.25 */
    width: 16em;
    height: 20em;
    border-radius: 8px;
}

h1 {
    font-family: var(--formal-bold-font);
    /* font-family: var(--font-3); */
    font-size: 3.8em;
    letter-spacing: .2em;
    font-weight: lighter;
}

#profileHeading p {
    font-family: var(--font-3);
    font-weight: lighter;
    font-size: 1.15em;
}



/* Main */

main {
    grid-column: var(--grid-full-span);

    /* As a flexbox container */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */

    padding: 1vh 1vw;

    font-size: 1.15em;
}

h2 {
    /* font-family: var(--font-3); */
    font-family: var(--formal-font);
    font-size: 1.65em;
    margin: 0.25em;
}

p {
    text-indent: 0%;
}

main > section {
    margin: 1vh 1.5vw;
}

.contentBorder {
    border: var(--box-border);
    padding: .5em; 
}


/* About Me */

#aboutMe > p {
    /* border: var(--box-border); */
    /* padding: .5em; */
}


/* Education */
#education {
    /* Takes care of Nav bar when navigating to #education */
    scroll-margin-top: 3em;
}

#ucsd {
    margin-bottom: 2vh;
}

.educationItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.educationItem > img {
    height: 7em;
    width: 7em;
}

#yonseiLogo {
    padding: 0.2em;
}

.educationDescription {
    margin-left: 2em;
}

.educationDescription > p:first-child {
    /* font-weight: bold; */
}

/* Relevant Skills */
#relevantSkills h3 {
    border-bottom: var(--box-border-lv3);
}

h3 {
    font-weight: 400;
}

.skillSection {
    margin-top: 0;
    margin-bottom: 2vh;
}

.skillTable {
    margin-top: 1vh;
    font-size: 0.9em;

    /* border: 1px solid black; */
    border-collapse: collapse;
    font-family: var(--formal-font);

}

.skillTable th, .skillTable td {
    border: var(--box-border-lv2);
    padding: 0.5em;
}

.skillTable strong {
    font-family: var(--formal-bold-font);
}

.skillTable tr:first-child {
    background-color: var(--gray-lv1);
}

.skillTable tr:first-child + tr {
    /* background-color: var(--gray-lv1); */
}

.skillType {
    /* border: var(--box-border); */
    font-family: var(--formal-bold-font);
    /* font-weight: 500; */
}

#excellencySkills td {
    font-style: italic;
}


/* Projects */

#projects {
    scroll-margin-top: 3em;
}

#projects p, #projects li {
    font-size: 0.9em;
}

.projectHeader {
    border-bottom: var(--box-border-lv3);
    margin-bottom: 1vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.projectHeader p {
    font-family: var(--formal-font);
    font-size: 1em;
    /* font-style: italic; */
}


.overviewSection {
    margin-bottom: 2vh;
}

h4 {
    font-weight: 400;
    border-bottom: var(--box-border-lv2);
    width: max-content;
    margin-bottom: 1vh;
}

.overviewText {
    margin: 1vh 0.5vw;
    margin-top: 0;
    /* border: var(--box-border); */
}

.descriptionSection {
    margin: 2vh auto;
}

figcaption {
    text-align: center;
}

#chessProjFigures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#chessProjFigures figure {
    border: 4px solid var(--gray-lv1);
    background-color: var(--gray-lv1);
    /* box-shadow: 2px 2px 1px var(--border-color-lv2); */
    font-family: var(--formal-font);
    font-size: 0.8em;
}

#chessProjFigures img {
    width: 20em;
    height: 23em;

}

.descriptionText {
    margin: 1vh 0.5vw;
    /* border: var(--box-border); */
}

.takeawaysSection {
    margin: 2vh auto;
}

.projectFooter {
    margin: 1.5vh auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sourceCodeLinkBox {
    border: var(--box-border-lv2);
    padding: 0.25em;
    width: max-content;

    overflow: hidden;
}

.sourceCodeLinkBox a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sourceCodeLinkBox img {
    width: 1.5em;
    height: 1.5em;
}

.sourceCodeLinkBox  span {
    padding-left: 0.25em;
}

.sourceCodeLinkBox:hover {
    background-color: var(--background-color-darker);
}

.sourceCodeLinkBox:hover span {
    text-decoration: underline;
}

/* Animation */
#animationSection {
    height: 10vh;

    /* display: grid; */
}

#animationContainer {
    overflow: hidden;
    padding: 0.5em;
    /* border: var(--box-border); */
}

#animationContainer p {
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    width: max-content;
    font-size: 3em;
    font-family: cursive;
    font-weight: bold;
    color: red;
}

@keyframes slide {
    from {
        margin-left: 0;
    }
  
    to {
        margin-left: 75%;
      /* margin-right: 0; */
    }
  }





/* Sidebar 2.0 */
#rightSection {
    display: none;
}

/* Footer */

footer {
    grid-column: var(--grid-full-span);

    border-top: var(--box-border);
    padding: 1vh 1vw;
}
